<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>MyGoogle</title>
    <meta name="description" content="Search the web for sites and images.">
    <meta name="keywords" content="csc355, Project3, Search engine, Google">
    <meta name="author" content="Thita Charoentham , Shawn Lim">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<div class="wrapper indexPage">
    <div class="mainSection">
        <div class="logoContainer">
            <img src="/images/google_logo.png" alt="logo">
        </div>

        <div class="searchContainer">
            <form action="search" method="GET">
                <input class="searchBox" type="text" name="term" >
                <input class="searchButton" type="submit" value="Search">
            </form>
        </div>
    </div>
</div>
<div class="adminContainer"> @Copy Right by Admin</div>
</body>
</html>